body {
    padding-top: 1px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #E4E4E4;
}
hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
}
a { color: #56A590; }
a:hover, a:focus { color: #209E85; }
.btn-success { background-color: #56A590; }

/* bbs.html */
	/* page_head */
#logo {width: 123px; height: 62px; background:  url(../images/logo2.png) 0 0 no-repeat;}
#page_head_right{float: right;}

#main-login a {width: 54px; height: 34px; display: inline-block; }
#main-login span{width: 32px; height: 32px; margin: 0 auto; display: block; line-height: 40px; text-align: center; color: #555; cursor: pointer;}
.twi-btn-left {margin-right: -2px; background:  url(../images/icons.png) 0 -64px no-repeat;}
.twi-btn-right { margin-left: -2px; background:  url(../images/icons.png) -54px -64px no-repeat;}
#main-login a:hover{}
#main-login a:hover span{color: #fff;}
.twi-btn-left:hover{background:  url(../images/icons.png) 0 -144px no-repeat;}
.twi-btn-right:hover{background:  url(../images/icons.png) -54px -104px no-repeat;}

#main-menu{padding-top: 7px; position: relative; top: 30px; right: -100px; float: right; line-height: 40px; word-spacing: 20px;}
#main-menu a{font-size:16px; color: #666;}
#main-menu a:hover{color: #19896b; text-decoration: none;}
	/* page_head End*/

	/* carousel_box */
#carousel_box{height: 700px; margin-top: 78px;}
.carousel-indicators{top: 530px; left: 400px;}
.carousel-indicators li{background: #D4D5D6;}
.carousel-indicators .active{background: #209e85;}
.carousel-inner{overflow: visible;}
.carousel-caption{top: 580px; background: #E4E4E4;}
.carousel-caption h2 a{display: inline-block; font-size: 12px; text-indent: 16px;}
.carousel-caption h4, .carousel-caption p{line-height: 20px; color: #333;}
.carousel-caption .row a{line-height: 20px; font-size: 14px}



	/* carousel_box End */
/* bbs.html End*/

/* read.html */
	/* main-body */
.nav-collapse{position: absolute; top: 32px; left: 450px;}

#menu ul{width: 100%; margin: 0px auto; padding: 6px 0;background: #E4E4E4;}
.navbar{margin-bottom: 0;}
#menu .affix{top:0; left: 290px;}


.main-body{background: #f9f9f9; padding: 20px 0;}
.page-header{margin: 18px 20px; border-bottom: 1px solid #bbb;}
.articles .thumnail{padding-left: 20px;}
.articles .title{line-height: 32px; color: #56A590; font-size: 18px;}
.articles a:hover{color: #56A5aa ;text-decoration: none;}
.articles .info{line-height: 24px; color: #333; font-size: 16px;}
.articles .summary{line-height: 24px; font-size: 16px;}

	/* main-body end*/

	/* sider-section */
.sider-section p{line-height: 16px; font-size: 14px; }
.sider-section .app-img{margin-left: 50px;}
.sider-section .app-text{margin-left: 10px;}

.sider-section .sources img{margin-left: 20px; text-align: center;}
.sider-section .sources a{font-size: 22px; line-height: 50px;}

	/* sider-section end*/
/* read.html End*/